---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import "@styles/global.css";

export interface Props {
  frontmatter: CollectionEntry<"projects">["data"];
}

const { frontmatter } = Astro.props;
const yearString = Array.isArray(frontmatter.year)
  ? `${frontmatter.year[0]}—${frontmatter.year[1] ?? ""}`
  : frontmatter.year.toString();
---

<BaseLayout pageTitle={`Projects::${frontmatter.title}`}>
  <article class="flex flex-col gap-4">
    <hgroup>
      <h1 class="font-bold text-xl">{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
    </hgroup>
    <p>{yearString}</p>
    <div class="tags">
      {
        frontmatter.tags?.map((tag: string) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
    <slot />
  </article>
</BaseLayout>
